Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
"
WarningsAsErrors: '1'
HeaderFilterRegex: ''
FormatStyle:     none
